
<style>
  .table.table-hover {
    box-shadow: 10px 10px 8px rgb(85, 113, 122);
  }
 
</style>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cedula</th>
      <th scope="col">Aseguradora</th>
      <th scope="col">Poliza</th>
      <th scope="col">Autorizacion</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Monto</th>
      <th scope="col">Fecha y Hora</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products.products">
      <td>{{ product.name }}</td>
      <td>{{ product.apellido }}</td>
      <td>{{ product.cedula }}</td>
      <td>{{ product.asegura }}</td>
      <td>{{ product.poliza }}</td>
      <td>{{ product.autoriza }}</td>
      <td>{{ product.descripcion }}</td>
      <td>{{ product.amount | currency: "RD$" }}</td>
      <td>{{ product.createdAt | date: " d MMM , y, h:mm:ss a" }}</td>
      <td>
        <fa-icon
        style="cursor: pointer; color: orange"
          [routerLink]="['/product/edit', product._id]"
          [icon]="faPen"
        ></fa-icon>
      </td>
      <td>
        <fa-icon
          style="cursor: pointer; color: red"
          (click)="deleteProduct(product._id)"
          [icon]="faTrash"
        ></fa-icon>
      </td>
    </tr>
    <tr>
      <td>Cantidad: {{  products.cantidad }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ products.total | currency: "RD$" }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>


<!-- <div class="col-md-4">
  <p>Total: {{products.total}}</p>
  <p>Cantidad: {{products.cantidad}}</p>
</div>  -->
