 <!-- <div *ngFor="let product of products.products" class="table">
  <div class="col-md-4">
    <div class="col-md-35">
      <ul>
        <th>Nombre {{ product.name }}</th>
        <th>Apellido {{ product.apellido }}</th>
        <th>ARS {{ product.asegura }}</th>
        <th>Cedula {{ product.cedula }}</th>
        <th>Poliza {{ product.poliza }}</th>
        <th>Autorizacion {{ product.autoriza}}</th>
        <th>Monto {{ product.amount }}</th>
        <th>Fecha: {{ product.createdAt }}</th>
      </ul>
      <button (click)="deleteProduct(product._id)" class="btn btn-danger">
        Delete
      </button>
      <button [routerLink]="['/product/edit', product._id]" class="btn btn-secondary">
        Edit
      </button>
    </div>
    
  </div>
</div> -->



<!-- table Start -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Ars</th>
      <th scope="col">Cedula</th>
      <th scope="col">Poliza</th>
      <th scope="col">Autorizacion</th>
      <th scope="col">Monto</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products.products">
      <th >{{ product.name }}</th>
      <td>{{ product.apellido }}</td>
      <td>{{ product.asegura }}</td>
      <td>{{ product.cedula }}</td>
      <td>{{ product.poliza }}</td>
      <td>{{ product.autoriza}}</td>
      <td>{{ product.amount }}</td>
      <td>{{ product.createdAt }}</td>
      <td><fa-icon [routerLink]="['/product/edit',product._id]" [icon]="faPen"></fa-icon></td>
      <td><fa-icon (click)="deleteProduct(product._id)" [icon]="faTrash"></fa-icon></td>
     </tr>
    <tr>
      <td>Cantidad: {{products.cantidad}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{products.total}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<!-- Table Finish
<div class="col-md-4">
  <p>Total: {{products.total}}</p>
  <p>Cantidad: {{products.cantidad}}</p>
</div> -->